<div {{ attributes }} typeof="Place">
    <span property="geo" typeof="GeoCoordinates">
        <meta property="latitude" content="{{ position.lat }}" />
        <meta property="longitude" content="{{ position.lng }}" />
    </span>
    <h2 class="location-title" property="name">{{ title }}</h2>
    <div class="location-content">{{ children }}</div>
</div>